.main-page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.rooms-container {
    margin-top: 70px;
    height: 300px;
    width: 40%;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.rooms-container-header {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

.rooms-container::-webkit-scrollbar {
    width: 10px;
}

.rooms-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.rooms-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.main-page-body-widgets {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 40px;
    height: 100px;
}

.widget {
    width: 300px;
}
